<html>
<head></head>
<body>
	{% if flag %}
		<form method = "post">
			{% csrf_token %}
			<label for="username">Username</label><br>
			<input type = "text" id = "username" name = "username" value = {{username}} readonly><br><br>
			<label for="password1">New password:</label><br>
			<input type = "password" id = "password1" name = "password1" ><br><br>
			<label for="password2">Repeat password:</label><br>
			<input type = "password" id = "password2" name = "password2" ><br><br>
			<button type="submit">Change password</button>
		</form>
		<br>{message}
	{% else %}
		Nope
	{% endif %}
</body>
</html>